body {
  background: url('/images/background.svg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Container chính */
.forgot-password-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

/* Tiêu đề */
.forgot-password-container h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #02062e;
}

/* Nhãn nhập liệu */
.forgot-password-container label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 50px;
}

/* Ô nhập email */
.forgot-password-container input {
  width: 100%;
  max-width: 255px;
  padding: 10px;
  border: 2px solid #02082b;
  border-radius: 20px;
  display: block;
  font-size: 13px;
}

/* Căn chỉnh hàng ngang cho Submit và Cancel */
.button-group {
  display: flex;
  justify-content: center;
  gap: 50px; 
  margin-top: 50px
}

/* Nút Submit */
.forgot-password-container button {
  padding: 10px;
  width: 35%; /* Chia đều kích thước 2 nút */
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Nút Submit*/
.forgot-password-container button[type="submit"] {
  background-color: #070232;
  color: white;
}

.forgot-password-container button[type="submit"]:hover {
  background-color: #010161;
}

/* Nút Cancel*/
.forgot-password-container button.cancel-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.forgot-password-container button.cancel-btn:hover {
  background-color: #989797;
  color: rgb(246, 241, 241);
}

/* Thông báo lỗi */
.forgot-password-container .error-message {
  color: red;
  margin-bottom: 15px;
}

/* Liên kết */
.forgot-password-container p {
  margin-top: 30px;
  font-size: 14px;
}

.forgot-password-container a {
  color: #010220;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password-container a:hover {
  text-decoration: underline;
}
