body {
  background: url('/images/background.svg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10%;  
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  margin-bottom: 20px;
  color: #02062e;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%; 
  max-width: 280px; 
  padding: 10px;
  border: 2px solid #02082b;
  border-radius: 20px;
  display: block;
  
}

.forgot-password {
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
}

.forgot-password a {
  color: #040c3f;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out, color 0.3s ease-in-out;
}

.forgot-password a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(1, 1, 33, 0.5); 
}

.btn-login {
  background-color: #070232;
  color: white;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #020226;
}
.error-message {
  color: #fe0000; 

}


.help-link {
  margin-top: 15px;
  font-size: 14px;
}

.help-link a {
  font-weight: bold;
  color: #010220;
  text-decoration: none;
}
.help-link a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(64, 64, 68, 0.5); 
}